<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <context-param>
    <param-name>weblogic.jsp.keepgenerated</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>contextConfigLocations</param-name>
    <param-value>
      /WEB-INF/dataAccessContext-local.xml,
      /WEB-INF/applicationContext.xml
    </param-value>
  </context-param>
  
  <!-- Register the GZIPfilter -->

<filter> 
  <filter-name>GzipFilter</filter-name> 
  <filter-class>weblogicx.servlet.gzip.filter.GZIPFilter</filter-class> 
  <!--
    Map the gzipfilter to the resource. 
 --></filter>        
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>cacheControlFilter</filter-name>
    <filter-class>com.openq.web.filter.CacheControlFilter</filter-class>
    <init-param>

       Number of seconds after which browser needs to check for new version of the file 
      <param-name>maxage</param-name>

       15 * 24 * 60 * 60 = 15 Days 
      <param-value>1296000</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>dojoCacheControlFilter</filter-name>
    <filter-class>com.openq.web.filter.CacheControlFilter</filter-class>
    <init-param>

      <!-- Number of seconds after which browser needs to check for new version of the file -->
      <param-name>maxage</param-name>

      <!-- 90 * 24 * 60 * 60 = 90 Days -->
      <param-value>7776000</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>sessionExpirationFilter</filter-name>
    <description>This Filter redirects the user to an error page on session expiration</description>
    <filter-class>com.openq.web.filter.SessionExpirationFilter</filter-class>
    <init-param>
        <param-name>errorPage</param-name>
        <param-value>sessionexpired.jsp</param-value>
        <description>Page to show when session expires</description>
    </init-param>
    <init-param>
        <param-name>excludePages</param-name>
        <param-value>/login.htm,/siteMinderLogin.htm</param-value>
        <description>Page to exclude from the filter</description>
    </init-param>
  </filter>

   

  
  <filter-mapping>
    <filter-name>cacheControlFilter</filter-name>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>cacheControlFilter</filter-name>
    <url-pattern>/img/*</url-pattern>
  </filter-mapping>

  <!-- Dojo URLs are mapped do different filter to have different cache age limit. -->
  <filter-mapping>
    <filter-name>dojoCacheControlFilter</filter-name>
    <url-pattern>/js/dojo-release-0.9.0/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>cacheControlFilter</filter-name>
    <url-pattern>/js/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>cacheControlFilter</filter-name>
    <url-pattern>/jscalendar-1.0/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>cacheControlFilter</filter-name>
    <url-pattern>/css/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>sessionExpirationFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>AlignedUserHelper</servlet-name>
    <servlet-class>com.openq.web.controllers.helpers.AlignedUserHelper</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ObjectiveListHelper</servlet-name>
    <servlet-class>com.openq.web.controllers.helpers.ObjectiveListHelper</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PublicationServlet</servlet-name>
    <servlet-class>com.openq.ovid.servlet.PublicationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RealignUserHelper</servlet-name>
    <servlet-class>com.openq.web.controllers.helpers.RealignUserHelper</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RemoveUserHelper</servlet-name>
    <servlet-class>com.openq.web.controllers.helpers.RemoveUserHelper</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>openq</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>openq</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ObjectiveListHelper</servlet-name>
    <url-pattern>/ObjectiveListHelper</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AlignedUserHelper</servlet-name>
    <url-pattern>/AlignedUserHelper</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RealignUserHelper</servlet-name>
    <url-pattern>/RealignUserHelper</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RemoveUserHelper</servlet-name>
    <url-pattern>/RemoveUserHelper</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PublicationServlet</servlet-name>
    <url-pattern>/PublicationServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      60
     </session-timeout>
  </session-config>

  <mime-mapping>
    <extension>ppt</extension>
    <mime-type>application/ms-powerpoint</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <welcome-file>welcome.file.placeholder</welcome-file>
  </welcome-file-list>

  <taglib>
    <taglib-uri>/tags/datagrid-1.0</taglib-uri>
    <taglib-location>/WEB-INF/taglibs-datagrid.tld</taglib-location>
  </taglib>
</web-app>
