body {
	border: 1px;
	font-family: "Trebuchet MS";
	borderColor: #d9e4ea;
	backgroundColor: #f8fafb;
}

p {
	fontFamily: "Trebuchet MS";
	color: 0x000000;
}

.title {
	fontSize: 14px;
}
.header {
	fontSize: 12px;
}
.backLink {
	fontSize: 11px;
	fontFamily: verdana;
	color: #003366;
	text-decoration: underline;
}
.bio {
	fontSize: 11px;
}