body {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none; text-align: center;
}

.back-blue-01-dark {
  BACKGROUND-COLOR: #003366
}
.back-white {
  BACKGROUND-COLOR: #ffffff
}
.back-blue-02-light {
  BACKGROUND-COLOR: #d6e7fb
}
.back-black {
  BACKGROUND-COLOR: #000000
}
.text-blue-09 {
  FONT: 9px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-blue-01 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-black-01 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.text-blue-13 {
  FONT: 13px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-new-01 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #4c7398; TEXT-DECORATION: none
}
.text-blue-02 {

	FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none;  TEXT-DECORATION: none
	background-image:url(../images/submenubgpic2.jpg);
	height:30px;
	border:1px solid #eaaf60;

}

.text-blue-02-glow {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
  color: #3300FF;
	border:1px solid #eaaf60;

	text-decoration: none;

}

.contentmiddle
{
  width: 100%;
}

.contentleft
{
  width:25%;
  text-align: left;
  float:left;
}
.reportcontentleft
{
  width:20%;
  text-align: left;
  float:left;
}
.expertserchdiv
{
  border:1px solid #d0d9de;
}
.koldetails
{
  width:93%;
  border:1px solid #d0d9de;
  background-color:#f2f6f7;
  height:390px;
}
.reportleftnav
{
  width:90%;
  border:1px solid #d0d9de;
  background-color:#f2f6f7;
  height:390px;
}
.text-blue-09-bold {
  FONT: bold 9px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-blue-01-bold {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-blue-01-bold_profile {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-blue-01-red {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ff0000; TEXT-DECORATION: none
}
.text-11px-red {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ff0000; TEXT-DECORATION: none
}
.text-blue-01-small {
  FONT: 9px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-black-link {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.text-black-link:hover {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #934900; TEXT-DECORATION: underline
}
.text-black-link-bold {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #934900; TEXT-DECORATION: none
}
.text-black-link-bold:hover {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: underline
}
.text-white-link {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.text-white-link:hover {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ff9900; TEXT-DECORATION: underline
}
.text-black-link-small {
  FONT: 9px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.text-black-link-small:hover {
  FONT: 9px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #934900; TEXT-DECORATION: underline
}
.back-grey-01-dark {
  BACKGROUND-COLOR: #cccccc
}
.back-menu {
  BACKGROUND-IMAGE: url('../images/back_menu.gif'); BACKGROUND-REPEAT: repeat-x
}
.back_vert_sprtr {
  BACKGROUND-IMAGE: url('../images/back_vert_seprtr.gif'); BACKGROUND-REPEAT: repeat-y
}
.back_horz_sprtr {
  BACKGROUND-IMAGE: url('../images/back_horz_seprtr.gif'); BACKGROUND-REPEAT: repeat-x
}
.back-grey-02-light {
  BACKGROUND-COLOR: #faf9f2
}
.back-white-02-light {
  BACKGROUND-COLOR: white
}
.text-white-bold {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.back-blue-03-medium {
  BACKGROUND-COLOR: #98b4c9
}
.back_horz_head {
  BACKGROUND-IMAGE: url('../images/back_horz_head.gif'); BACKGROUND-REPEAT: repeat-x
}
.text-blue-01-link {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: underline
}
.text-blue-01-link:hover {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #934900; TEXT-DECORATION: none
}
.text-blue-01-bold-link {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: underline
}
.text-blue-01-bold-link:hover {
  FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #934900; TEXT-DECORATION: none
}

.button-01 {
  BORDER-RIGHT: 1px solid #003366; BORDER-TOP: 1px solid #cccccc; BACKGROUND-IMAGE: url('../images/back_vert_button.gif'); TEXT-TRANSFORM: none; BORDER-LEFT: 1px solid #cccccc; COLOR: #006699; BORDER-BOTTOM: 1px solid #003366; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-DECORATION: none; font-style:normal; font-variant:normal; font-weight:normal; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif
}
.field-blue-01-180x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 220px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-340x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 340px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-440x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 440px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-520x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 520px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-new-01-180x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 156px; color:#4c7398; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-120x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 120px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-120x20a {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 450px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-220x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 250px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-new-01-120x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 120px; COLOR: #4c7398; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-02-220x50 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 220px; COLOR: #006699; HEIGHT: 50px; TEXT-DECORATION: none
}
.field-blue-02-260x50 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 260px; COLOR: #006699; HEIGHT: 50px; TEXT-DECORATION: none
}
.field-blue-02-380x50 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 380px; COLOR: #006699; HEIGHT: 50px; TEXT-DECORATION: none
}

.field-blue-03-130x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 130px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-04-50x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 50px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-05-70x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 70px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-06-100x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 100px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-06-110x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 110px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-07-180x50 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 180px; COLOR: #006699; HEIGHT: 50px; TEXT-DECORATION: none
}
.field-blue-08-60x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 60px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-08-60x80 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 60px; COLOR: #006699; HEIGHT: 80px; TEXT-DECORATION: none
}
.field-blue-09-150x50 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 150px; COLOR: #006699; HEIGHT: 50px; TEXT-DECORATION: none
}
.field-blue-10-120x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 120px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-11-380x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 380px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-12-220x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 220px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-12-220x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 220px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-13-260x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 260px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-13-420x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 500px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-13-520x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 500px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-13-235x80 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 200px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}

.field-blue-13-300x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 300px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}

.field-blue-13-500x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 500px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}

.field-blue-13-850x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 850px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}

.field-blue-51-180x35 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 180px; COLOR: #006699; HEIGHT: 35px; TEXT-DECORATION: none
}
.field-blue-55-360x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 360px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-56-180x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 180px; COLOR: #006699; HEIGHT: 80px; TEXT-DECORATION: none
}
.field-blue-14-90x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 90px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-15-110x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 110px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-16-150x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 150px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-17-180x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 180px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-18-600x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 600px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-18-400x100 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 400px; COLOR: #006699; HEIGHT: 100px; TEXT-DECORATION: none
}
.field-blue-19-70x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 70px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.list-blue-19-150x110 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 110px; COLOR: #006699; HEIGHT: 150px; TEXT-DECORATION: none
}
.button-02 {
  BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; BORDER-LEFT: #003366 1px solid; WIDTH: 220px; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #d6e7fb; TEXT-DECORATION: none
}
.field-blue-19-260x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 260px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-19-340x50 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 340px; COLOR: #006699; HEIGHT: 50px; TEXT-DECORATION: none
}
.field-blue-20-260x150 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 200px; COLOR: #006699; HEIGHT: 170px; TEXT-DECORATION: none
}
.menu-active
{
  color:#55698C;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:70%;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  text-decoration:none;
  text-transform:none;

  background-image:url(../images/menuleftbgpic.jpg);
  border-left:1px solid #6B7B8D;
  border-right:1px solid #6B7B8D;
  border-top:1px solid #6B7B8D;
  float:left;
  height:15px;
  padding-top:5px;
}
.menu-inactive
{
  color:#55698C;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  text-decoration:none;
  text-transform:none;

  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none;
  TEXT-DECORATION: none;
  float:left;
  height:15px;
  padding-top:5px;
  border-left:1px solid #9ba7b5;
  border-bottom:1px solid #9ba7b5;
  border-right:1px solid #9ba7b5;
  border-top:1px solid #9ba7b5;
  width:25%
}
.tabcontent
{
  border-left:1px solid #6B7B8D;
  border-right:1px solid #6B7B8D;
  border-bottom:1px solid #6B7B8D;
}
.back-menu-sub1 {
  BACKGROUND-IMAGE: url('../images/back_menu_sub1.gif'); BACKGROUND-REPEAT: repeat-x
}
.back-menu-sub2 {
  BACKGROUND-IMAGE: url('../images/back_menu_sub2.gif'); BACKGROUND-REPEAT: repeat-x
}
.text-blue-01-bold-head3 {
  FONT: bold 16px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-blue-01-bold-head2 {
  FONT: bold 14px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.text-blue-01-bold-head1 {
  FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #006699; TEXT-DECORATION: none
}
.field-blue-01-50x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 50px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-200x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 200px; COLOR: #006699; HEIGHT: 20px; TEXT-DECORATION: none
}
.field-blue-01-90x60 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 90px; COLOR: #006699; HEIGHT: 60px; TEXT-DECORATION: none
}
.list-blue-01-180x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 180px; COLOR: #006699; HEIGHT: 80px; TEXT-DECORATION: none
}
.list-blue-01-120x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 120px; COLOR: #006699; HEIGHT: 80px; TEXT-DECORATION: none
}
.list-blue-04-50x20 {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; WIDTH: 50px; COLOR: #006699; HEIGHT: 80px; TEXT-DECORATION: none
}

.outerdiv
{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.banner
{
  width:100%;
  height:66px;
  text-align: left;
  BACKGROUND-COLOR: white
  background-position:right;
}
.logo
{
  width:18%;
  height:66px;
  background-image:url(../images/logo.jpg);
  background-repeat:no-repeat;
  margin-left:10px;
  padding-top:10px;
  text-align: left;
}
.logoright
{
  width:82%;
  height:66px;
  background-image:url(../images/banner.jpg);
  background-repeat:no-repeat;
  margin-left:10px;
  padding-top:10px;
  text-align: left;
}

.menubar
{
  width:100%;
  margin-top:2px;
  float:right;
}

.menuNotSelected
{
  float:left;
  background-image:url(../images/menurbg6.jpg);
  height:30px;
  border-bottom:1px solid #9ba7b5;
  border-right:1px solid #9ba7b5;
  border-top:1px solid #9ba7b5;
}
.menuDisabled
{
  float:left;
  background-image:url(../images/menurbgdisabled.jpg);
  height:30px;
  border-bottom:1px solid #9ba7b5;
  border-right:1px solid #9ba7b5;
  border-top:1px solid #9ba7b5;
}
.menuSelected
{
  float:left;
  background-image:url(../images/menuleftbgpic.jpg);
  height:30px;
  border-right:1px solid #6b7b8d;
  border-left:1px solid #6b7b8d;
  border-top:1px solid #6b7b8d;
  font-weight:800;
}
.mpictext
{
  margin:auto;
  padding-top:4px;
  color:#55698c;
  float:none;
}
.menuIcon
{
  padding-left:4px;
  float:left;
  text-align:center;
}
.menuNotSelectedText
{
  text-align: left;
}
.menuDisabledText
{
  text-align: left;
}
.text-grey {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #999999; TEXT-DECORATION: none;
  font-weight: inherit;
}
.menuSelectedText
{
text-align: left;
}
.text-blue-link {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #55698c; TEXT-DECORATION: none;
  font-weight: inherit;
}
.text-blue-link:hover {
  FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ff9900; TEXT-DECORATION: underline;
  font-weight: inherit;
}
.welcome
{
  margin:auto;
  color:#4c7398;
}
.clear
{
  clear:both;
}
.welcometext
{
  width:50%;
  float:left;
  font :12px verdana;
  padding-top:4px;
  text-align: left;
  vertical-align: center;
}
.footer{
  background-image:url(../images/downbgpic.jpg);
  background-repeat: repeat;
  width:100%;
  height:20px
}
.copyrighttext{
  color: #4C7398;
  padding-left: 15px;
  padding-top:4px;
  text-indent: 10px;
  width:100%;
  FONT: 11px Verdana, Arial, Helvetica, sans-serif;
}
.expertsearchdiv
{
  width:230px;
  border:1px solid #d0d9de;

}
.expertsearchdiva
{
  width:270px;
  border:1px solid #d0d9de;

}

.expertsegmentationdiv
{
  width:89%;
  height:auto;
  border:1px solid #d0d9de;
}
.paddingdiv
{
  padding-top: 10px;
}

.expertserchbgpic
{
  width:100%;
  background-image:url(../image/expertserchbgpic.jpg);
  background-repeat:no-repeat;
  border-bottom:1px solid #d0d9de;
  height:25px;
}
.leftsearchbgpic
{
  width:100%;
  background-image:url(../images/expertserchbgpic.jpg);
  background-repeat:no-repeat;
  border-bottom:1px solid #d0d9de;
  height:25px;
}
.leftsearchbgpica
{
  width:170%;
  background-image:url(../images/expertserchbgpic.jpg);
  background-repeat:no-repeat;
  border-bottom:1px solid #d0d9de;
  height:25px;

}
.leftsearchtext
{
  font-weight:bold;
  color:#4C7398;
  font-weight:bold;
  padding-top:6px;
  text-indent:15px;
  width:97%;
  font-family:verdana,sans-serif;
  font-size:72%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:1.2em;
}

.leftsearchtextadvanced
{
  font-weight:bold;
  color:#4C7398;
  font-weight:bold;
  padding-top:6px;
  text-indent:15px;
  width:97%;
  font-family:verdana,sans-serif;
  font-size:72%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:1.2em;
}

.leftsearchspanleft
{
	float:left;
	
	
}
.leftsearchspanright a  
{

	color:#4C7398;
	text-decoration:none;
	
}
.leftsearchspanright a:hover{
	 text-decoration:underline
	}  


.leftsearchspanright
{
	float:right;
	
}

.leftsearchtexta
{
  font-weight:bold;
  color:#4C7398;
  font-weight:bold;
  padding-top:6px;
  text-indent:15px;
  width:120%;
  font-family:verdana,sans-serif;
  font-size:72%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:1.2em;
}



.leftprofiletext
{
  font-weight:bold;
  color:#4C7398;
  font-weight:bold;
  padding-top:6px;
  text-indent:15px;
  width:97%;
  font-family:verdana,sans-serif;
  font-size:12px;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:1.2em;
}
.firstname
{
  width:92%;
  padding-top:20px;
  margin-left:15px;
  color:#4c7398;
}
.lastname
{
  width:92%;
  padding-top:8px;
  margin-left:15px;
  color:#4c7398;
}
.selectstate
{
  width:92%;
  padding-top:10px;
  margin-left:30px;
  color:#4c7398;
}
.searchButton
{
  padding-top:10px;
  padding-bottom:15px;
  padding-left:30px;

}
.blueTextBox
{
  color:#4c7398;
}
.alertTitleText
{
  width:91%;
  float:right;
  color:#cf7706;
  font-size:80%;
  font-weight:bold;
}
.alertDetailText
{
  font-size:10px;
  font-style:italic;
  color:#666666;
}
.alertPic
{
  width:9%;
  float:left;
}
.alertSection
{
  width:98%;
  margin-left:7px;
  padding-top:10px;
}
.seeallalert
{
  width:95%;
  color:#4c7398;
  padding-bottom:10px;
  padding-top:10px;
  text-align:right;
  font-size:90%;
}
.producttext
{
  background-color:#fcfcf8;
  border:1px solid #eeebd3;
  padding-bottom:10px;
  padding-top:0px;
  height:100%;
}
.fullIframe
{
  background-color:#fcfcf8;
  border:1px solid #eeebd3;
  padding-bottom:10px;
  height:100%;
  width:100%;
}
.myexpertplan
{
  background-color:#e6eee3;
  color:#4c7398;
  padding-top:10px;

}
.myexpertlist
{
  background-color:#f2f0de;
  color:#4c7398;
  padding-top:10px;

}
.myexpertlistnopadding
{
  background-color:#f2f0de;
  color:#4c7398;
  padding-top:5px;
}
.experttext
{
  width:97%;
  color:#4c7398;
  padding-top:6px;
  font-weight:bold;
  text-indent:15px;
}
.manpic
{
  width:100%;
  padding-top:20px;
  text-align:center;
  color:#4c7398;
}
.profileguesttext
{
  width:92%;
  padding-top:10px;
  margin-left:15px;
  padding-bottom:25px;
}
.myexperttext
{
  width:50%;
  float:left;
  font :13px verdana;
  font-weight: bold;
  padding-bottom:5px;
  text-indent:12px;
  text-align: left;
}
.interactionsearchresults
{
  width:100%;
  float:left;
  font :13px verdana;
  font-weight: bold;
  padding-bottom:5px;
  text-indent:12px;
  text-align: left;
}
.availablereportstext
{
  float:left;
  font :13px verdana;
  font-weight: bold;
  padding-bottom:5px;
  text-align: left;
}
.myexperttext1
{
  width:50%;
  float:left;
  font :13px verdana;
  font-weight: bold;
  padding-bottom:5px;
  text-align: left;
}
.globalconstants
{
  width:50%;
  float:left;
  font :13px verdana;
  font-weight: normal;
  padding-bottom:5px;
  text-align: left;
}

.optionlisttext
{
  width:50%;
  float:left;
  font :13px verdana;
  font-weight: bold;
  padding-bottom:5px;
  text-indent:12px;
  text-align: left;
}
.boldp
{
color:#4c7398;
FONT: 11px Verdana
}
.boldpred
{
color:#FF0000;
font:11px Verdana
}
.exbold
{
font-weight:bold;
color:#4c7398;

}
.exnormal
{
/*font-weight:bold;*/
color:#4c7398;

}
.headingtext
{
  width:47%;
  float:left;
  font-size:14px;
  font-weight:bold;
  padding-bottom:5px;
  text-indent:12px;
}
.expertListHeader
{
  font-weight:bold;
  color:#847c40;
  font-size:72%;
  font-family:verdana,sans-serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:1.2em;
}
.expertPlanHeader
{
  font-weight:bold;
  color:#478530;
  font-size:72%;
  font-family:verdana,sans-serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:1.2em;
}
.expertListRow
{
  color:#000000;
  font-size:72%;
  font-family:verdana,sans-serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.2em;
}
.addexpert
{
  width:50%;
  float:right;
}
.apic
{
  width:70%;
  float:left;
  text-align:right;
  padding-bottom:5px;
}
.atext
{
  float:right;
  font-size:80%;
  vertical-align: middle;
}
.addExpertLink
{
  height:23px;
  text-decoration:underline;
  float:right;
  padding-right: 10px;
}

.segmentMenu
{
  background-image:url(../images/back_menu_sub1.gif);
  background-repeat:repeat-x;
  float:left;
  height:30px;
  width:100%;
}
.normalBlueText
{
  color:#4C7398;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  padding-left:15px;
  padding-top:15px;
  text-indent:10px;

}
.submenu
{
  width:100%;
}
.submenu1
{
  width:100%;
  float:left;
  position:relative;
  background-image:url(../images/submenubgpic1.jpg);
  height:31px;
  border:1px solid #eaaf60;
}
.submenu2
{

	width:100%;
	float:left;
	position:relative;
	background-image:url(../images/submenubgpic2.jpg);
	height:31px;
	border:1px solid #eaaf60;

}
.submenu3
{
  width:100%;
  float:left;
  position:relative;
  background-image:url(../images/submenubgpic1.jpg);
  height:30px;

}
.submenu4
{

	width:100%;
	float:left;
	position:relative;
	background-image:url(../images/submenubgpic2.jpg);
	height:30px;


}
.submenutext
{
  width:100%;
  text-indent:8px;
  padding-top:5px;
  padding-bottom:5px;
  color:#55698c;
}
.contentright
{
  float:right;
}
.searchbgimage
{
	width:100%;
	background-image:url(../images/saveiconbgpic.jpg);
	background-repeat:no-repeat;
	height:20px;
}
.loginouterdiv
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.loginbanner
{
	width:100%;
	border-bottom:1px solid #5d7792;
	background-color:#5f88a8;
}
.loginbannerleft
{
	width:16%;
	float:left;
	text-align:left;

}
.loginbannerright
{
	width:50%;
	float:left;
	background-color:#5f88a8;
}
.logincontentpictext
{
	width:100%;
	height:200px;
	border-bottom:2px solid #9ba7b5;
	padding-bottom:1px;
	background-color:#dfdabc;
}
.logincontentpic
{
	width:29%;
	float:left;
	text-align:left;
	background-color:#dfdabc;

}
.logincontenttext
{
	float:right;
	margin-top:1px;
	margin-bottom:1px;
	background-color:#dfdabc;
	background-repeat:repeat;
	background-position:left;
}
.boldlogin
{
color:#4c7398;
FONT: 16px Verdana
width:100%;
}
.login
{
	width:100%;
	background-image:url(../image/login.jpg);
	background-repeat:no-repeat;
	height:20px;
	text-indent:30px;
	padding-top:3px;
}
.table
{
	width:100%;
	background-color:#fcfcf8;
	font-size:11px;
}

.button {
	border: 1px solid #4c7398;
	padding: 2px 5px 2px 5px;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.columnchanger {
	width: 300px;
	height: 290px;
	position: absolute;
	left: 225px;
	top: 70px;
	border: 1px solid black;
	display: none;
}

.columnchanger1 {
	width: 452px;
	height: 148px;
	position: absolute;
	left: 362px;
	top: 145px;
	border: 1px solid black;
	display: none;
}

.columnchangeheader {
	background: #f2f0de;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 26px;
	width: 450px;
	border-bottom: 1px solid black;
}

.changemessage {
	color: black;
	float: left;
	padding-left: 5px;
	font-family: Arial;
	font-size: 12px;
	padding-top: 5px;
}

.closebutton {
	color: black;
	font-size: 10px;
	border: 1px solid black;
	padding: 0px 3px 0px 3px;
	float: right;
	cursor: pointer;
	margin-right: 2px;
	margin-top: 5px;
}

.columnchangecontent {
	width: 450px;
	height: 120px;
	background: #f2f0de;
	/*filter: alpha(opacity=80);*/
	position: absolute;
	left: 0px;
	top: 26px;
}

.message {
	font-family: Arial;
	font-size: 12px;
	padding: 5px;
}

.columnselection {
	margin-left: 20px;
}

.columnselection td {
	font-family: Arial;
	font-size: 12px;
	padding-right: 20px;
}

.updatebutton {
	background: #e6eee3;
	border: 1px solid black;
}

.overlaydiv {
	width: 2000px;
	height: 768px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: gray;
	filter: alpha(opacity=40);
	display: none;
}
 .progressbaroverlay {
    width: 700px;
    height: 600px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: gray;
    filter: alpha(opacity=40);
    display: none;
}
.dojoComboBox {
	width: 120px;
	border: 1px solid #4c7398;
	color:#4c7398;
	margin-left: 20px;
}

.dojoComboBoxOuter {
  padding-left:20px;
  width: 100%;
  height: 100%;
}

.dojoComboBoxItem {
	text-align: left;
}

.searchtextdiv {
	padding-left: 16px;
}

/* All <ul> tags in the menu including the first level */
.menulist, .menulist ul {
 margin: 0;
 padding: 1px;
 width: 130px;
 list-style: none;
 background: #F0F0F8;
 /*background: #CADCDE;*/
 border: 1px solid #654;
}

/* Submenus (<ul> tags) are hidden and absolutely positioned across from their parent */
.menulist ul {
 display: none;
 position: absolute;
 top: 0;
 left: 130px;
}

/* All menu items (<li> tags) are relatively positioned (to correctly offset submenus). */
.menulist li {
 position: relative;
}

/* Links inside the menu */
.menulist li a {
 display: block;
 padding: 3px 4px 3px 5px;
 color: #000;
 text-decoration: none;
 border: 1px solid transparent;
 margin: 0;

}
/* HACKS: MSIE6 doesn't support transparent borders, mimic with margins */
* html .menulist li a {
 border-width: 0;
 margin: 1px;
}

/*
 Lit items: hover/focus = the current item. 'highlighted' = parent items to visible menus.
 Here, active items are given a border, and a padding tweak to 'elevate' the text within.
 Feel free to use background-image:url(file.gif) instead of background-color:#nnn here...
*/
.menulist a:hover, .menulist a.highlighted:hover, .menulist a:focus {
 color: #FFF;
 background-color: #46A;
 padding: 2px 5px 4px 4px;
 border: 1px solid #ADF;
 margin: 0;
}
.menulist a.highlighted {
 color: #FFF;
 background-color: #68C;
 border: 1px solid #CDE;
 margin: 0;
}

/*
 If you want per-item background images in your menu items, here's how to do it.
 1) Assign a unique ID tag to each link in your menu, like so: <a id="xyz" href="#">
 2) Copy and paste these next lines for each link you want to have an image:
    .menulist a#xyz {
      background-image: url(out.gif);
    }
    .menulist a#xyz:hover, .menulist a.highlighted#xyz, .menulist a:focus {
     background-image: url(over.gif);
    }
*/


/* 'subind' submenu indicators, which are automatically prepended to 'A' tag contents. */
.menulist a .subind {
 float: right;
}

/* Links inside the menu */
.menulist li a img {
  vertical-align: middle;
  border: 0px;
}

/*
 HACKS: IE/Win:
 A small height on <li> and <a> tags and floating prevents gaps in menu.
 * html affects <=IE6 and *:first-child+html affects IE7.
 You may want to move these to browser-specific style sheets.
*/
*:first-child+html .menulist li {
 float: left;
 width: 100%;
}

* html .menulist li {
 float: left;
 height: 1%;
}
* html .menulist a {
 height: 1%;
}
/* End Hacks */

/* Styles for collapsible DIVs */
.reset {
  padding: 0;
  margin: 0;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #006699;
  text-decoration: none;
}

.colOuter {
  border: 1px solid #ECEADE;
  padding: 2px;
  margin: 5px;
}

.colTitle {
  background-color: #F3F0DF;
  color: #4C7398;
  padding: 7px;
  font-size: 12px;
  font-weight: bold;
}

.colContent {
  padding: 5px;
}

.toggleImg {
  cursor: pointer;
}

.addQuestionButton {
background: transparent url(../images/buttons/add_question.gif) repeat scroll 0%;
-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial;
-moz-background-inline-policy: -moz-initial;
width: 103px;
height: 22px;
}

.addOptionButton{
background: transparent url(../images/buttons/add_answer_options.gif) repeat scroll 0%;
-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial;
-moz-background-inline-policy: -moz-initial; width: 140px; height: 22px;
}

.saveQuestionButton{
background: transparent url(../images/buttons/save.gif) repeat scroll 0%;
-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial;
-moz-background-inline-policy: -moz-initial; width: 73px; height: 22px;
}

.deleteQuestion{
background: transparent url(../images/buttons/delete.gif) repeat scroll 0%;
-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial;
-moz-background-inline-policy: -moz-initial; width: 73px; height: 22px;
}


.editQuestion{
background: transparent url(../images/buttons/edit.gif) repeat scroll 0%;
-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial;
-moz-background-inline-policy: -moz-initial; width: 60px; height: 22px;
}

.agreementAddQuestion{
background: transparent url(../images/buttons/add_agreement_question.gif) repeat scroll 0%;
-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial;
-moz-background-inline-policy: -moz-initial; width: 165px; height: 22px;
}
