BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BEHAVIOR: url(/resources/js/csshover.htc); FONT: 0.75em Arial, sans-serif; COLOR: #666; PADDING-TOP: 0px
}
A {
	COLOR: #006599; TEXT-DECORATION: none
}
P {
	LINE-HEIGHT: 1.6em
}
.first {
	MARGIN-TOP: 0px
}
.small-space {
	LINE-HEIGHT: 1.3em
}
A:hover {
	TEXT-DECORATION: underline
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1.5em; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2.5em; PADDING-TOP: 0px
}
#home-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 14em; PADDING-TOP: 2em
}
#home-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 40em; PADDING-TOP: 4.25em
}
#home-secondary {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 10em; PADDING-TOP: 4.25em
}
#date {
	FONT-SIZE: 0.9em; COLOR: #003366
}
DIV.secondarylinks {
	MARGIN: 1em 0px 0px
}
DIV.secondarylinks DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.75em; PADDING-BOTTOM: 0.75em; PADDING-TOP: 0.75em; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #ff9900
}
DIV.secondarylinks DIV A {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: white; TEXT-DECORATION: none
}
DIV#content-indent {
	MARGIN: 2.91em 1.91em 0px
}
DIV#currentnews {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2.91em; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; PADDING-TOP: 0.75em
}
DIV.spotlight IMG {
	CLEAR: right; FLOAT: right
}
DIV#ourproducts {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2.91em; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; PADDING-TOP: 0.75em
}
.heading {
	MARGIN: -1.75em 0px 1em; FONT: bold 1.08em Verdana, sans-serif; COLOR: #ff9900
}
#product-heading {
	MARGIN: 2.11em 0px 0px 1em; FONT: bold 1.08em Verdana, sans-serif; COLOR: #ff9900
}
DIV#currentnews UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#currentnews UL LI {
	LIST-STYLE-IMAGE: url(/resources/images/shared/doc-icon.gif); MARGIN: 0px 0px 0.5em 1.7em; VERTICAL-ALIGN: text-top
}
DIV#currentnews H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.33em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #016e43; PADDING-TOP: 0px
}
DIV#currentnews P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
LI.list-last {
	FONT-WEIGHT: bold; COLOR: #006599
}
LI.list-last A {
	FONT-WEIGHT: bold; LIST-STYLE-IMAGE: url(/resources/images/shared/archieve-icon.gif)
}
.productcol {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0.91em; FLOAT: left; PADDING-BOTTOM: 1em; MARGIN: -0.25em 0px 0px; WIDTH: 33.33%; COLOR: #006599; PADDING-TOP: 1em; LIST-STYLE-TYPE: square; BACKGROUND-COLOR: #f0f6fc
}
.productcol LI {
	MARGIN: 0px 0px 0.5em 2.7em
}
DIV.clear {
	CLEAR: left; PADDING-TOP: 5em
}
P.footer {
	BORDER-TOP: #ccc 1px solid; FONT-SIZE: 0.91em; MARGIN: 5em 0px; PADDING-TOP: 0.5em
}
H1.ad {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.7em; FONT-SIZE: 0.96em; BACKGROUND: url(/resources/images/homepage/ad-arrow.gif) no-repeat 0% 50%; PADDING-BOTTOM: 0.5em; MARGIN: 2em 0px 0px; COLOR: #ff9900; PADDING-TOP: 0.5em
}
H1.ad A {
	COLOR: #ff9900
}
.second {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.5em; FONT-SIZE: 2.75em; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 1.5em
}
.third {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 1em
}
.fourth {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.5em; FONT-SIZE: 1.5em; PADDING-BOTTOM: 0.25em; COLOR: white; PADDING-TOP: 0.25em
}
DIV#nav {
	MARGIN-TOP: 1.66em
}
.content-container {
	PADDING-RIGHT: 2em; PADDING-LEFT: 4em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.content-container LI {
	PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.6em
}
UL.newslist LI {
	LIST-STYLE-IMAGE: url(/resources/images/shared/doc-icon.gif); MARGIN: 0px 0px 0em 1.7em; VERTICAL-ALIGN: text-top
}
.date {
	FONT-WEIGHT: bold
}
.footnote {
	FONT-SIZE: 0.75em
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.25em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.25em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
H1 SUP {
	FONT-SIZE: 0.6em
}
SUP {
	FONT-SIZE: 0.85em; VERTICAL-ALIGN: text-top
}
SUB {
	FONT-SIZE: 0.85em; VERTICAL-ALIGN: text-bottom
}
HR {
	COLOR: #ccc; HEIGHT: 1px
}
.right-pic {
	BACKGROUND: url(/resources/images/shared/right-nav-aob.jpg) no-repeat left top; WIDTH: 10em; HEIGHT: 4.91em
}
BLOCKQUOTE {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN: 2em; COLOR: #959595; FONT-STYLE: italic
}
.name {
	FONT-WEIGHT: normal; FONT-SIZE: 0.75em; MARGIN: 1em 5em 0px 0px; COLOR: #666; FONT-STYLE: normal; TEXT-ALIGN: right
}
.h2orange {
	FONT-WEIGHT: bold; FONT-SIZE: 1.25em; COLOR: #ff9900
}
UL.list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2.5em; PADDING-TOP: 0px
}
UL.list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em; PADDING-TOP: 0px
}
#printlogo {
	DISPLAY: none
}
.pi {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 1em; PADDING-TOP: 0.25em
}
.med {
	MARGIN-LEFT: 2em
}
#home {
	WIDTH: 2.5em
}
IFRAME {
	OVERFLOW-Y: scroll; OVERFLOW-X: hidden
}
#words {
	BORDER-RIGHT: rgb(255,255,255) 1px solid; BORDER-TOP: #669acc 1px solid; FONT-SIZE: 11px; MARGIN: -10px 0px 0px; BORDER-LEFT: rgb(255,255,255) 1px solid; COLOR: #669acc; BORDER-BOTTOM: #669acc 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #e7f0f7
}
A.gobutton {
	PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: url(/resources/images/shared/img_go.gif) no-repeat 2px 3px; COLOR: #669acc; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
#results {
	WIDTH: 400px
}
